.container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  width: 80vw;
}
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-left: auto;
}

.btn:hover {
  background-color: #0056b3;
}
.btn[disabled] {
  background-color: grey !important;
  cursor: not-allowed !important;
}
